.text-color {
    color: blue;
}

.text-size {
    font-size: 24px;
}

.text-font {
    font-family: 'Arial', sans-serif;
}

.text-transform {
    text-transform: uppercase;
}

div {
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
    background-color: pink;
}

.position-absolute {
    position: absolute;
    top: 10px;
    left: 240px;
}

.position-relative {
    position: relative;
    top: 74px;
    left: 0px;
}

.position-fixed {
    position: fixed;
    top: 10px;
    right: 10px;
}

ul li {
    font-weight: bold;
}

h1, h2, h3 {
    font-style: italic;
}
