.box {
    border: 3px dotted black;
    padding: 10px;
    background-color: green;
    margin-left: 1%;
    margin-right: 1%;
  }

p.para1 {
    color: red;
}

p.para2 {
  color: #006400;
}

.para3 {
  background-color: green;
  color: purple;
}

.container {
  background-color: green;
}
