body {
    background-color: green;
    margin: -12px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

#top-row {
    display: flex;
    justify-content: space-between;
    width: 45%;
    height: 22%;
}

.box {
    width: 270px;
    height: 270px;
    margin: 20px;
    color: black;
    text-align: left;
}

#box1 {
    background-color: blue;
    padding-top: 10px;
}

#box2 {
    background-color: red;
    padding-top: 10px;
}

#box3 {
    background-color: yellow;
}
